@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-v4020-Regular.eot');
  src: url('fonts/Raleway-v4020-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Raleway-v4020-Regular.woff') format('woff'),
  url('fonts/Raleway-v4020-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-v4020-Medium.eot');
  src: url('fonts/Raleway-v4020-Medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/Raleway-v4020-Medium.woff') format('woff'),
  url('fonts/Raleway-v4020-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-v4020-SemiBold.eot');
  src: url('fonts/Raleway-v4020-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('fonts/Raleway-v4020-SemiBold.woff') format('woff'),
  url('fonts/Raleway-v4020-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-v4020-Bold.eot');
  src: url('fonts/Raleway-v4020-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/Raleway-v4020-Bold.woff') format('woff'),
  url('fonts/Raleway-v4020-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-v4020-ExtraBold.eot');
  src: url('fonts/Raleway-v4020-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('fonts/Raleway-v4020-ExtraBold.woff') format('woff'),
  url('fonts/Raleway-v4020-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-v4020-Black.eot');
  src: url('fonts/Raleway-v4020-Black.eot?#iefix') format('embedded-opentype'),
  url('fonts/Raleway-v4020-Black.woff') format('woff'),
  url('fonts/Raleway-v4020-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}